
body {
  background-color: none;
  font-family: sans-serif;
}

.jumbotron {
  background-color: white;
  border-bottom: solid black 3px;
}

.radio {
font-weight: bold;
}

.apply {
  display: none;
}
